{$DOMINIO} {
	tls {$CORREO}

	# Los videos son archivos grandes: sin este límite alto, la subida falla.
	request_body {
		max_size 1GB
	}

	encode gzip
	reverse_proxy app:8000 {
		flush_interval -1
	}

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "same-origin"
	}

	log {
		output file /data/acceso.log
	}
}
